.addPharmacy, .addressPharmacy{
    margin-bottom: 15px;
}
.violetSquare{
    font-size: 30px;
    color: #9b46f6;
    margin-right: 10px;
}
.blueSquare{
    font-size: 30px;
    color: #2a3efc;
    margin-right: 10px;
}
.saveAllCalendar{
    margin-top: 200px;
    font-size: 50px;
}
.calendar-trash{
    margin-top: 20px;
}
.calendar-trash i{
    font-size: 100px;
}
.videoFileSelect{
    width: 80%;
    height: 90%;
}
.selectedFile{
    margin: 12px 7px;
}

.selectedFile{
    -webkit-transform: scale(2);
    transform: scale(2);
    padding: 10px;
    position: relative;
    height: 100px;
}
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px) {}


/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px) {}


/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px) {}